@charset "UTF-8";
.sitetitle {
  color: #c24145;
  display: inline-block;
  margin: 0.67em 0;
  text-decoration: none;
  font-family: 'Oregano', cursive;
  font-size: 40pt;
  font-weight: bold; }

a.sitetitle:hover:after {
  content: "⪻";
  color: #9d3336; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Trocchi', serif; }

.post h2:first-of-type a {
  color: inherit;
  text-decoration: none; }
  .post h2:first-of-type a:hover {
    color: #c24145; }
    .post h2:first-of-type a:hover:after {
      color: #9d3336;
      content: " ⪻"; }

body {
  font-family: 'Rosarivo', serif;
  margin: 0;
  padding: 0;
  background-color: #c49842; }

a {
  text-decoration: none;
  position: relative;
  color: #642022; }
  a:hover {
    color: #c24145; }

.post div a:after,
.related li a:after {
  border-bottom: 1px dotted #642022;
  content: "";
  position: absolute;
  bottom: 0.2em;
  left: 0;
  right: 0;
  height: 0; }

.postmeta {
  font-style: italic;
  font-size: 0.9em; }

.post p {
  margin: 0;
  text-indent: 1.5em; }
  .post p:first-child {
    text-indent: 0; }

.postbody > p:first-of-type {
  font-size: 1.1em;
  padding-bottom: 1.5em;
  border-bottom: 3px double #c24145;
  margin-top: 2em;
  margin-bottom: 1.5em; }

iframe {
  border: none; }

#main-container {
  background-color: #287775;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75); }
  #main-container .feed-icon-floater {
    float: right;
    margin: 1em; }

.centered-container {
  max-width: 750px;
  margin: 0 auto;
  padding: 1.5em;
  background-color: white;
  border-left: 5px solid #91dad8;
  border-right: 5px solid #91dad8; }

blockquote {
  font-style: italic; }
  blockquote em {
    font-style: normal; }

#content code {
  font-family: 'Inconsolata', monospace; }

#content pre {
  background: ghostwhite;
  border: 1px solid #ddd;
  padding: 0.25em 0.5em 0.5em; }
  #content pre pre {
    margin: 0;
    font-size: 16px; }

#footer-container {
  border-top: 1px solid #7a5e26; }
  #footer-container a img {
    border: none; }
  #footer-container #credits {
    clear: both;
    font-size: 90%;
    margin-top: 1em; }

#credits {
  text-align: center; }

.tagcloud li {
  list-style-type: none;
  display: inline; }

#content .inset {
  float: right;
  border: 1px dotted black;
  width: 30%;
  margin: 0.5em;
  padding: 0.5em;
  background: #287775; }

#spinner {
  position: relative;
  top: 0.2em; }

.small {
  font-size: 0.8em;
  font-style: italic; }

.right {
  float: right; }
