h1 {
  font-family: 'Oregano', cursive; }

h2, h3, h4, h5, h6 {
  font-family: 'Trocchi', serif; }

body {
  font-family: 'Rosarivo', serif;
  margin: 0;
  padding: 0;
  background-color: #d9d9d9; }

iframe {
  border: none; }

#main-container {
  padding: 1em 0 3em 0;
  background-color: white; }
  #main-container .feed-icon-floater {
    float: right;
    margin: 1em; }

.centered-container {
  width: 750px;
  margin: 0 auto; }

.post {
  margin: 1em 0 2em 0; }

blockquote {
  font-style: italic; }
  blockquote em {
    font-style: normal; }

#content code {
  font-family: 'Inconsolata', monospace; }

#content pre {
  background: #f8f8ff;
  border: 1px solid #ddd;
  padding: 0.25em 0.5em 0.5em; }
  #content pre pre {
    margin: 0;
    font-size: 16px; }

#footer-container {
  border-top: 1px solid #a6a6a6; }

#footer {
  width: 750px;
  margin: 0 auto; }
  #footer .col {
    width: 250px;
    float: left; }
  #footer #credits {
    clear: both;
    font-size: 90%;
    margin-top: 1em; }
  #footer a img {
    border: none; }

.post h2 > a {
  text-decoration: none;
  color: inherit; }
.post h2 > a:hover {
  text-decoration: underline; }

.tagcloud li {
  list-style-type: none;
  display: inline; }

#content .inset {
  float: right;
  border: 1px dotted black;
  width: 30%;
  margin: 0.5em;
  padding: 0.5em;
  background: white; }

.navlinks {
  font-style: italic; }
