@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
/* line 5, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
 * LEAGUE GOTHIC
 */
/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url("../fonts/leaguegothic-italic-webfont.eot");
  src: url("../fonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-italic-webfont.woff") format("woff"), url("../fonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular") format("svg");
  font-weight: normal;
  font-style: italic;
}
/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Condensed */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url("../fonts/leaguegothic-condensed-regular-webfont.eot");
  src: url("../fonts/leaguegothic-condensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-condensed-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-condensed-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Condensed Italic */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url("../fonts/leaguegothic-condensed-italic-webfont.eot");
  src: url("../fonts/leaguegothic-condensed-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-condensed-italic-webfont.woff") format("woff"), url("../fonts/leaguegothic-condensed-italic-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg") format("svg");
  font-weight: normal;
  font-style: italic;
}
/*
 * LEAGUE SPARTAN
 */
@font-face {
  font-family: 'League Spartan';
  src: url("../fonts/leaguespartan-bold.eot");
  src: url("../fonts/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan-bold.woff2") format("woff2"), url("../fonts/leaguespartan-bold.woff") format("woff"), url("../fonts/leaguespartan-bold.ttf") format("truetype"), url("../fonts/leaguespartan-bold.svg#league_spartanbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
/*
 * RALEWAY
 */
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway_thin-webfont.eot");
  src: url("../fonts/raleway_thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway_thin-webfont.woff") format("woff"), url("../fonts/raleway_thin-webfont.ttf") format("truetype"), url("../fonts/raleway_thin-webfont.svg#raleway_thin") format("svg");
  font-weight: 100;
  font-style: normal;
}
/*
 * LINDEN HILL
 */
@font-face {
  font-family: 'Linden Hill';
  src: url("../fonts/LindenHill-Italic-webfont.eot");
  src: url("../fonts/LindenHill-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/LindenHill-Italic-webfont.woff") format("woff"), url("../fonts/LindenHill-Italic-webfont.ttf") format("truetype"), url("../fonts/LindenHill-Italic-webfont.svg#lindenhill_italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Linden Hill';
  src: url("../fonts/LindenHill-webfont.eot");
  src: url("../fonts/LindenHill-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/LindenHill-webfont.woff") format("woff"), url("../fonts/LindenHill-webfont.ttf") format("truetype"), url("../fonts/LindenHill-webfont.svg#lindenhill_normal") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*
 * Source code pro
 */
/* line 1, ../../sass/_boxsizing.scss */
html {
  box-sizing: border-box;
}

/* line 5, ../../sass/_boxsizing.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 106, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1.55556em;
}

/* line 9, ../../sass/_typography.scss */
small, .font_small {
  font-size: 0.61111em;
  line-height: 2.54545em;
}

/* line 13, ../../sass/_typography.scss */
body, p {
  font-size: 1em;
  line-height: 1.55556em;
  font-family: 'Linden Hill';
}

/* line 18, ../../sass/_typography.scss */
h1 {
  font-family: 'Raleway';
  font-size: 4.22222em;
  line-height: 1.10526em;
  margin: 1.10526em 0 0.36842em;
  text-align: center;
  text-transform: uppercase;
}

/* line 26, ../../sass/_typography.scss */
h2 {
  font-family: 'League Spartan';
  font-size: 2.61111em;
  line-height: 1.19149em;
  margin: 1.19149em 0 0.59574em;
}

/* line 32, ../../sass/_typography.scss */
h3 {
  font-size: 1.61111em;
  line-height: 1.93103em;
  margin: 1.93103em 0 0.96552em;
  font-family: 'League Spartan';
}

/* line 38, ../../sass/_typography.scss */
h4 {
  font-family: 'League Spartan';
  font-size: 1em;
  line-height: 1.55556em;
  margin: 3.11111em 0 1.55556em;
}

/* line 44, ../../sass/_typography.scss */
blockquote {
  padding-left: 10px;
  border-style: solid;
  border-left-width: 3px;
  color: #333333;
}

/* line 51, ../../sass/_typography.scss */
.highlight {
  padding: 0.77778em;
  margin: 0.77778em 0;
  font-family: "Source Code Pro";
}

/* line 1, ../../sass/_layout.scss */
main {
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}
/* line 12, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
main:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 5, ../../sass/_layout.scss */
.pagination {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 13, ../../sass/_layout.scss */
.pagination li {
  margin: 0 0.5em;
}

/* line 1, ../../sass/_post.scss */
.post__title {
  position: relative;
}

/* line 5, ../../sass/_post.scss */
.post__title__link {
  text-decoration: none;
  color: black;
}
/* line 9, ../../sass/_post.scss */
.post__title__link:hover:after {
  content: '»';
  color: #666666;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -0.75em;
}

/* line 19, ../../sass/_post.scss */
.post__content {
  padding-top: 1.93103em;
}
/* line 22, ../../sass/_post.scss */
.post__content > p, .post__content > ul, .post__content > ol, .post__content > dl, .post__content > blockquote {
  margin-top: 2em;
}
/* line 29, ../../sass/_post.scss */
.post__content > p:first-child, .post__content > ul:first-child, .post__content > ol:first-child, .post__content > dl:first-child, .post__content > blockquote:first-child {
  margin-top: 0;
  font-style: italic;
  font-size: 1.11111em;
  line-height: 1.4em;
}
/* line 36, ../../sass/_post.scss */
.post__content .highlight {
  color: white;
}
/* line 40, ../../sass/_post.scss */
.post__content ul {
  list-style-type: disc;
  padding-left: 2em;
}
/* line 45, ../../sass/_post.scss */
.post__content ol {
  list-style-type: decimal;
  padding-left: 2em;
}

/* line 51, ../../sass/_post.scss */
.post__full .post__meta {
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}
/* line 12, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.post__full .post__meta:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 56, ../../sass/_post.scss */
.post--summary {
  margin-bottom: 4.82759em;
}
/* line 59, ../../sass/_post.scss */
.post--summary .post__meta {
  margin-bottom: 0.96552em;
}

/* line 1, ../../sass/_header.scss */
.page-header {
  background-color: black;
  background-image: url("/backgrounds/tammerkoski.jpg");
  background-size: cover;
  color: white;
  background-position: 50% 50%;
  height: 80vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  max-height: 800px;
  padding: 1.55556em 0;
}
/* line 19, ../../sass/_header.scss */
.page-header h1 {
  color: white;
  margin: 0;
  display: block;
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}
/* line 12, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.page-header h1:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 26, ../../sass/_header.scss */
.page-header a, .page-header a:visited, .page-header a:active {
  color: #f5abf0;
}

/* line 1, ../../sass/_footer.scss */
footer {
  margin-top: 4.66667em;
  margin-bottom: 1.55556em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}
/* line 12, ../../../../../../.rbenv/versions/2.0.0-p598/lib/ruby/gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
footer:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 1, ../../sass/_nav.scss */
.nav--main {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2.61111em;
  line-height: 1.19149em;
}
/* line 7, ../../sass/_nav.scss */
.nav--main .hide {
  position: relative;
  overflow: hidden;
  left: -9999em;
}

/* line 14, ../../sass/_nav.scss */
.nav__links {
  margin: 0px;
}

/* line 18, ../../sass/_nav.scss */
.icon--home {
  display: inline-block;
  transform: translate(0, 0);
  width: 3rem;
  height: 3rem;
  background-image: url("/icons/home.svg");
  background-size: cover;
}

/* line 29, ../../sass/_nav.scss */
.midnightHeader.default .icon--home,
.midnightHeader.header-night .icon--home {
  background-image: url("/icons/home-light.svg");
}

/* line 36, ../../sass/_nav.scss */
.midnightHeader.header-morning .icon--home,
.midnightHeader.header-evening .icon--home {
  background-image: url("/icons/home-light.svg");
}

/* line 42, ../../sass/_nav.scss */
.midnightHeader.body .icon--home {
  background-image: url("/icons/home.svg");
}

/*# sourceMappingURL=screen.css.map */
